[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "3rdparty/freetype"]
	path = 3rdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "3rdparty/enet"]
	path = 3rdparty/enet
	url = https://github.com/Lixue9jiu/enet.git
	branch = master
